<div id="high_level" class="high_level">
    {% if message|length == 0 %}
        <form method="get" action="/new_game">
            <button class="function" style="color: blue;">New Game</button>
        </form>
        <form method="get" action="/quit_game">
            <button class="function" style="color: red;">Quit</button>
        </form>
    {% else %}
        <form>
            <button class="function" style="color: blue;" disabled>New Game</button>
        </form>
        <form>
            <button class="function" style="color: red;" disabled>Quit</button>
        </form>
    {% endif %}
</div>