<div id="popup_box" class="popup_box">{% if "colours_available" in message %}
        {% if message.players|length == 0 %}            
            <div class="top">
            Initial Player Login
            </div>
            <form method="post" action="/login">
                <div class="selection_box">
                    <label>Number of Players:</label>
                    <select name="num_players">
                        {% for num in range(1,5) %}
                            <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selection_box">
                    <label>Counters per Player:</label>
                    <select name="counters_per_player">
                        {% for num in range(1,5) %}
                            <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selection_box">
                    <label>Colour: </label>
                    <select name="colour">
                        {% for colour in message.colours_available %}
                            <option style="color: {{ colour }};">{{ colour|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="submit" type="submit">Submit</button>
            </form>
        {% else %}
            <div class="top">
            Player Login
            </div>
            <form method="post" action="/login">
                <div class="selection_box">
                    <label>Colour: </label>
                    <select name="colour">
                        {% for colour in message.colours_available %}
                            <option style="color: {{ colour }};">{{ colour|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="submit" type="submit">Submit</button>
            </form>
        {% endif %}
    {% elif "title" in message %}
        {% if message.title == "Quit Game" %}
            <div class="top">
                {{ message.title }}
            </div>
            <p>{{ message.text }}</p>
            <form method="post" action="/close_popup">
                <button class="submit" type="submit">Cancel</button>
            </form>
            <form method="post" action="/quit_game">
                <button class="submit" type="submit">Confirm</button>
            </form>
        {% else %}
            <div class="top">
                {{ message.title }}
            </div>
            <p>{{ message.text }}</p>
            <form method="post" action="/close_popup">
                <button class="submit" type="submit">Okay</button>
            </form>
        {% endif %}
    {% endif %}</div>