body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100wh;
}

h1, h2, p, ul, li {
    color: #333;
}

h1 {
    text-align: center;
}

/* Game Elements */

.game {
    position: relative;
    height: 90%;
    aspect-ratio: 5 / 6;
    z-index: 0;
    background-color: black;
    display: flex;
    margin: 0 auto;
    display: block;
    justify-content: center;
    overflow: auto;
}


.board {
    position: relative;
    display: block;
    width: 90%;
    z-index: inherit;
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 5px solid white;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;

    .square {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1 ;
        background: whitesmoke;
        display: flex;
        flex-flow: wrap;
        z-index: inherit;
        justify-content: inherit;
        label {
            position: absolute;
            z-index: 0;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: x-large;
        }
    }

    .top {
        table {
            table-layout: fixed;
            width: 96%;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 0%;
            word-wrap: break-word;
        }
        td {
            width: 12.5%;
            max-width: 12.5%;
            position: relative;
            border: 1px solid black;
            gap: 0px;
        }
    }

    .left {
        table {
            table-layout: fixed;
            width: 12.3%;
            float: left;
            margin-left: 2%;
        }
        td {
            width: 100%;
            position: relative;
            border: 1px solid black;
        }
    }

    img {
        width: 68%;
        height: 68.5%;
        align-content: center;
        vertical-align: middle;
        float: left;
        margin: 1.6%;
    }

    .right {
        table {
            table-layout: fixed;
            width: 12.3%;
            float: right;
            margin-right: 2%;
        }
        td {
            width: 100%;
            position: relative;
            border: 1px solid black;
            vertical-align: middle;
        }
    }

    .bottom {
        table {
            table-layout: fixed;
            width: 96%;
            margin: auto;
            margin-top: 0%;
            margin-bottom: 2%;
        }
        td {
            width: 12.5%;
            position: relative;
            border: 1px solid black;
        }
    }

    form {
        height: 28%;
        aspect-ratio: 1 / 1;
        margin: 3% 0% 0% 4%;
        z-index: 1;
        position: relative;
        display: flex;

        .counter {
            height: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 1px solid black;
            background-color: red;
            opacity: 100%;
            justify-self: start;
        }

        .blank {
            height: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 0px solid black;
            opacity: 0%;
            justify-self: start;
        }
    }
}


.controls {
    position: relative;
    display: block;
    height: 14%;
    width: 90%;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 5px solid white;
    text-align: left;

    .high_level {
        position: relative;
        float: right;
        height: 100%;
        width: 25%;
        margin-top: 1.5%;
        margin-right: 2%;

        form {
            position: relative;
            display: inline-block;
            height: 35%;
            width: 98%;
            margin-top: 3%;

            .function {
                position: relative;
                display: inline-block;
                height: 100%;
                width: 100%;
                border-style: outset;
                border-width: medium;
                border-radius: 3%;
                background-color: whitesmoke;
                font-family: 'Times New Roman', Times, serif;
                font-size: Medium;
            }

            .function:active {
                transform: scale(0.98);
            }
        }

    }

    .off_board {
        height: 90%;
        aspect-ratio: 1 / 1 ;
        background: inherit;
        float: left;
        flex-flow: wrap;
        margin-top: 0.3%;
        margin-left: 1.5%;
        justify-content: inherit;

        .counter {
            border-radius: 50%;
            border: 0px;
            background-color: red;
            height: 25%;
            aspect-ratio: 1 / 1;
            margin: 8% 0% 0% 5%;
            opacity: 100%;
            z-index: 1;
            position: relative;
            display: inline-block;
            gap: 0px;
            justify-self: start;
        }
    }

    .game_level {
        position: relative;
        float: left;
        height: 100%;
        width: 35%;
        margin-top: 1.5%;
        margin-left: 2%;
        text-align: center;

        label {
            display: block;
            margin: auto;
            color: antiquewhite;
            margin-top: 3%;
            margin-bottom: 3%;
            font-size: 22px;
            flex-wrap: nowrap;
        }


        form {
            height: 35%;
            width: 80%;
            margin-top: 3%;
            position: relative;
            display: inline-block;

            .roll_die {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                border-style: outset;
                border-width: medium;
                border-radius: 3%;
                background-color: whitesmoke;
                color: black;
                font-family: 'Times New Roman', Times, serif;
                font-size: Medium;
            }

            .roll_die:active {
                transform: scale(0.98);
            }
        }

        
    }

    img {
        float: left;
        height: 80%;
        aspect-ratio: 1 / 1;
        margin-top: 1.5%;
    }

    
}


.popup_box {
    position: absolute;
    z-index: 3 !important;
    display: inline-block;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    height: auto;
    background-color: lightgrey;
    border: 3px solid darkslategray;
    text-align: center;

    .top {
        position: relative;
        width: 100%;
        height: 25px;
        text-align: center;
        background-color: darkslategray;
        color: white;
        font-size: large;
    }

    p {
        display: block;
        width: 95%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        max-width: 90%;
        height: auto;
        position: relative;
        display: inline-block;
        margin-top: 25px;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
        justify-content: center;

        .selection_box {
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;

            label {
                width: 60%;
                float: left;
                text-align: left;
            }

            select {
                width: auto;
                float: right;
                text-align: right;
            }
        }

        .submit {
            height: 25px;
            width: 70px;
            display: inline-block;
            border-radius: 10%;
            border: 2px solid black;
            background-color: darkgrey;
            opacity: 100%;
            margin-left: 0;
            bottom: 10px;
            border-style: outset;
        }

        .submit:active {
            transform: scale(0.98);
        }
    }
}

.popup_box:empty {
    display: none;
    visibility: hidden;
    border: none;
}
